<?xml version="1.0"?>
<model>
  <name>april_tag36_11_00002</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Simone Guscetti</name>
    <email>simonegu@student.ethz.ch</email>
  </author>

  <description>
    april tag 36_11_00002 tag size 0.2 m
  </description>

</model>
